.dlimg {
    width:7vw;
    height:7vw;
    padding:3%;
    background-color:#15151550;
    border-radius: 3vw;
}

.dlborder a {
    padding: 2.5%;
    display:inline-flex;
}

.dlborder {
    overflow-x:hidden;
    overflow-y:scroll;
    width:30.5%;
    height:30.5%;
    background-color: #15151550;
    display:flex;
    border-radius: 6vw;
    margin-top:-47%;
    justify-content: center;
    text-align: left;
    margin-left: -40%;

}

.dlborder::-webkit-scrollbar{
    display:unset
}