.foreground {
    margin-top:-45%;
    width:35%;
    height:35%;
    margin-left:45%
}

.dlimg {
    width:13vw;
    height:fit-content;
    padding:3%;
    background-color:#15151550;
    border-radius: 3vw;
}

.dlborder a {
    padding-inline: 3%;
    padding: 5%;
    display:inline-flex;
}

.dlborder {
    overflow-x:hidden;
    overflow-y:scroll;
    height:35%;
    width:35%;
    background-color: #15151550;
    margin-top:-45%;
    display:flex;
    justify-content: center;
    margin-left:-45%;
    border-radius: 6vw;
}

dlborder::-webkit-scrollbar{
    display:unset
}
.textlimit p {
    background-color: #15151550;
    font-size: xx-large;
    border-radius: 1vw;
    height:fit-content;
    padding:0.5vw;
}

.textlimit {
    text-align: center;
    margin-top: -52.5%;
    display:flex;
    justify-content:center;
}

.floattext2 {
    margin-top:-54%;
    justify-content: center;
    text-align: left;
    margin-left: -73%;
    width:25%;
}

.backarrow {
    filter: invert(100%);
    width: 7vw;
    height: 7vw;
}

.floattext2 a {
    display: flexbox;
    padding-inline:3%;
}

.floattext2 img {
    background-color: #e5e5e550;
    border-radius: 2vw;
    padding:2vw
    
}