*{
    box-sizing: border-box;
    margin:0%;
    font-family: main;
}
body {
    background-color: #161616;
}

body::-webkit-scrollbar{
    display:none
}

.border {
    display:block;
    width:100%;
    justify-content: center;
}

.box {
    width:100%;
    display:flex;
    justify-self: center;
    justify-content: center;
}

.background {
    width:100%;
}

.foreground {
    width:30.5%;
    height:30.5%;
    margin-top:-47%;
    margin-left:41%;
    display:flex;
    background-color: #15151550;
    border-radius: 6vw;

}

.order, .gall, .blog, .dls {
    color:white;
}

.floattext {
    margin-top:-46.25%;
    justify-content: center;
    text-align: left;
    margin-left: -25%;
    width:47.5%;
}

.box a:link {
    text-decoration: none;
}

.box a:hover {
    filter:brightness(50%);
    color:aqua
}

.cl {
    text-align: center;
    margin-top: -12%;
    display:flex;
    justify-content:center;
}

.cl p {
    background-color: #15151530;
    border-radius: 1vw;
    height:fit-content;
    padding:0.5vw;
    filter:drop-shadow(2px 2px 3px #151515)
}

.logoclass {
    filter: invert(100%);
    width: 13vw;
    height:13vw;
}

.bgclass {
    background-color: #15151580;
}

.floattext a {
    display: flexbox;
    padding-inline:3%;
}

.floattext img {
    background-color: #15151550;
    border-radius: 2vw;
    padding:2vw
    
}

footer a:link {
    text-decoration: none;
    color: white;
    padding-inline:3vw;
}

footer a:hover {
    color: #bbddff;
}

footer {
    padding-top:2.5%;
    padding-bottom:1%;
    display: flex;
    justify-content: center;
    border-top: dashed;
    border-width: 0.5vw;
    position: relative;
    top: -2vh;
    border-color: #151515;

}

.footr {
    color:white
}


@font-face {
    font-family: main;
    src: url(../fonts/outfit/Outfit-Light.otf);
    font-weight: 300;
}

.floattext2 {
    margin-top:-33.3%;
    justify-content: center;
    text-align: left;
    margin-left: -73%;
    width:25%;
}

.backarrow {
    filter: invert(100%);
    width: 3vw;
    height: 3vw;
}

.floattext2 a {
    display: flexbox;
    padding-inline:3%;
}

.floattext2 img {
    background-color: #15151550;
    border-radius: 1vw;
    padding:0.5vw
    
}