*{
    box-sizing: border-box;
    margin:0%
}
body {
    background-color: #161616;
}

body::-webkit-scrollbar{
    display:none
}

.border {
    display:block;
    width:100%;
    justify-content: center;
}

.box {
    width:100%;
    display:flex;
    justify-self: center;
    justify-content: center;
}

.background {
    width:100%;
}

.foreground {
    width:30%;
    height:30%;
    margin-top:-47%;
    margin-left:40%;
    display:flex;
    background-color: #15151550;
    border-radius: 6vw;

}

.order, .gall, .blog, .dls {
    color:white;
}

.floattext {
    margin-top:-46.5%;
    justify-content: center;
    text-align: left;
    margin-left: -25%;
    width:47.5%;
}

.box a:link {
    text-decoration: none;
}

.box a:hover {
    filter:brightness(50%);
    color:aqua
}

.cl {
    text-align: center;
    margin-top: -12%;
    display:flex;
    justify-content:center;
}

.cl p {
    background-color: #15151530;
    border-radius: 1vw;
    height:fit-content;
    padding:0.5vw;
    filter:drop-shadow(2px 2px 3px #151515)
}

.logoclass {
    filter: invert(100%);
    width: 13vw;
    height:13vw;
}

.bgclass {
    background-color: #15151580;
}

@font-face {
    font-family: main;
    src: url();
    font-weight: 300;
}

.floattext a {
    display: flexbox;
    padding-inline:3%;
}

.floattext img {
    background-color: #e5e5e550;
    border-radius: 2vw;
    padding:2vw
    
}